<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()" class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Sistema de Agendamentos Pet Shop</span>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side">
        <mat-nav-list>
            <a mat-list-item>Agenda</a>
            <a mat-list-item routerLink="clientes">Clientes</a>
            <a mat-list-item>Buscar Pet</a>
            <a mat-list-item>Usuários</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="router-container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>