<div class="container">
    <div class="form-container mat-elevation-z8">
        <ng-container *ngIf="editAgendamentoForm">
            <form [formGroup]="editAgendamentoForm" (ngSubmit)="updateAgendamento()">
                <h1>Agendamento</h1>

                <mat-form-field appearance="fill">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option value="Agendado">Agendado</mat-option>
                        <mat-option value="Iniciar Serviço">Iniciar Serviço</mat-option>
                        <mat-option value="Concluído">Concluído</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Data e hora</mat-label>
                    <input formControlName="data" matInput type="datetime-local">
                </mat-form-field>

                <!-- <mat-form-field appearance="fill">
                <mat-label>Cliente</mat-label>
                <mat-select (selectionChange)="filtrarPets($event)" formControlName="cliente">
                    <mat-option *ngFor="let cliente of clientes$ | async" [value]="cliente._id">{{cliente.nome}}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->

                <mat-form-field appearance="fill">
                    <mat-label>Pet</mat-label>
                    <mat-select formControlName="pet">
                        <mat-option *ngFor="let pet of pets$ | async" [value]="pet._id">{{pet.nome}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Serviços</mat-label>
                    <input formControlName="servico" matInput>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Transporte</mat-label>
                    <mat-select formControlName="transporte">
                        <mat-option [value]="1">Cliente</mat-option>
                        <mat-option [value]="2">Busca/Entrega</mat-option>
                        <mat-option [value]="3">Buscar</mat-option>
                        <mat-option [value]="4">Entregar</mat-option>
                    </mat-select>
                </mat-form-field>

                <h2>Observações</h2>

                <div class="checkbox">
                    <mat-checkbox color="warn" formControlName="carrapatos">Carrapatos</mat-checkbox>

                    <mat-checkbox color="warn" formControlName="pulgas">Pulgas</mat-checkbox>

                    <mat-checkbox color="warn" formControlName="feridas">Feridas</mat-checkbox>
                </div>

                <mat-form-field class="text-area" appearance="fill">
                    <mat-label>Textarea</mat-label>
                    <textarea matInput formControlName="obs"></textarea>
                </mat-form-field>

                <div>
                    <button mat-raised-button color="primary" type="submit">Salvar</button>

                    <button style="margin-left: 1.5rem" mat-raised-button color="warn" routerLink="/agendamentos">
                        Cancelar
                    </button>
                </div>

            </form>
        </ng-container>

    </div>
</div>