<div class="container">
    <div class="form-container mat-elevation-z8">
        <h1>Login</h1>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Senha</mat-label>
                <input matInput formControlName="senha" type="password">
            </mat-form-field>
            <div class="buttons">
                <button mat-raised-button color="primary" type="submit">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>