<div class="form-container mat-elevation-z8">
    <h1>Cadastrar Cliente</h1>
    <form>
        <mat-form-field appearance="fill">
            <mat-label>Nome Completo</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>CPF</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Endereço</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Telefone</mat-label>
            <input matInput>
        </mat-form-field>
        <div class="buttons">
            <button mat-raised-button color="primary">
                Salvar
            </button>

            <button style="margin-left: 1.5rem" mat-raised-button color="warn">
                Cancelar
            </button>
        </div>
    </form>
</div>