<div class="container">
    <div class="form-container mat-elevation-z8">
        <h1>Atualizar Cliente</h1>
        <form [formGroup]="editUsuarioForm" (ngSubmit)="updateUsuario()">
            <mat-form-field appearance="fill">
                <mat-label>Nome do Usuario</mat-label>
                <input matInput formControlName="nomeUsuario">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Senha</mat-label>
                <input matInput type="password" formControlName="senha">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Função</mat-label>
                <input matInput formControlName="funcao">
            </mat-form-field>
            <div class="buttons">
                <button mat-raised-button color="primary" type="submit">
                    Salvar
                </button>

                <button style="margin-left: 1.5rem" mat-raised-button color="warn" routerLink="/usuarios">
                    Cancelar
                </button>
            </div>
        </form>
    </div>
</div>