/* Structure */
.container {
  padding: 1.5rem;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 16px;
  min-width: 30%;
  width: 300px;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
